@font-face {
    /*Asignamos tipo de letra*/
    font-family: 'Street';
    src: url('font/street.otf');
    font-weight: normal;
    font-style: normal;
    
}

:root {
    /*Reseteamos medidas y asigamos variables comunes*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --fuente-principal: 'Street';
    --fuente-secundaria: Verdana;
    --fondo-principal: url('img/fondo2.jpg');
  
}

body {

    background-image: var(--fondo-principal);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1{
    color:crimson;
    text-align: center;
    font-size: 46px;
    font-family: var(--fuente-principal);
}

/* Tabla */

table{
    width: 600px;
    height: 800px;
    border:10px outset rgb(237,175,5);
    border-radius: 10px;
    background-color: black;
    margin:auto;
}

th{
    background-image: url(img/fondocabecera.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 40px;
    color: whitesmoke;
    opacity: 0.5;
    font-family: var(--fuente-principal);
}

tr,td{
    width: 40px;
    height: 45px;
    font-family: var(--fuente-principal);
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    color:darkorange;
    text-align: center;
    background-position: bottom;
    padding-bottom: 9rem;
}

.ken {
    background-image: url(img/ken.png);
    background-repeat: no-repeat;
}

.chunli {
    background-image: url(img/ChunLi.png);
    background-repeat: no-repeat;
}

.zangief {
    background-image: url(img/Zangief.png);
    background-repeat: no-repeat;
}

.dhalsim {
    background-image: url(img/Dhalsim.png);
    background-repeat: no-repeat;
}

.ryu {
    background-image: url(img/Ryu.png);
    background-repeat: no-repeat;
}

.ehonda {
    background-image: url(img/EHonda.png);
    background-repeat: no-repeat;

}

.blanka {
    background-image: url(img/Blanka.png);
    background-repeat: no-repeat;
}

.guille {
    background-image: url(img/Guille.png);
    background-repeat: no-repeat;
}

.thawk {
    background-image: url(img/THawk.png);
    background-repeat: no-repeat;
}

.feilong {
    background-image: url(img/Feilong.png);
    background-repeat: no-repeat;
}

.deejay {
    background-image: url(img/DeeJay.png);
    background-repeat: no-repeat;
}

.cammy {
    background-image: url(img/Cammy.png);
    background-repeat: no-repeat;
}

.balrog {
    background-image: url(img/Balrog.png);
    background-repeat: no-repeat;
}

.vega {
    background-image: url(img/Vega.png);
    background-repeat: no-repeat;
}

.sagat {
    background-image: url(img/Sagat.png);
    background-repeat: no-repeat;
}

.mbison {
    background-image: url(img/MBison.png);
    background-repeat: no-repeat;
}

h2{
    font-family: var(--fuente-principal);
    color: crimson;
    font-size: 28px;
    text-align: center;
}

/* Formulario */

form{
    width: 600px;
    height: 1100px;
    border: 10px outset rgb(237,175,5);
    color: white;
    border-radius: 10px;
    background-color: black;
    margin:auto;
    font-size: 16px;
    font-family: var(--fuente-secundaria);
}

fieldset{
    margin-bottom: 10px;
}

legend{
    font-family: var(--fuente-principal);
    font-size: 14px;
    color: rgb(237,175,5);
    padding-top: 10px;
    padding-bottom: 10px;
}

textarea{
    width: 560px;
}


.boton{
    border: 1px solid crimson;
    background-color: crimson;
    font-family: var(--fuente-principal);
    font-size: 18px;
    color:white;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    margin-left: 65px;
    margin-bottom: 10px;
}

div {
    padding: 5px;
}



